{% load static %}
<!doctype html>
<html lang="en">

<head>
  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block corecss %}
  <!-- ==============================================
    Favicons
    =============================================== -->
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
  <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/apple-touch-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/apple-touch-icon-114x114.png' %}">

  <!-- ==============================================
      Vendor Stylesheet
      =============================================== -->
  <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/vendor/slider.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="{% static 'css/vendor/icons.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/vendor/icons-fa.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/vendor/animation.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/vendor/gallery.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/vendor/cookie-notice.min.css' %}">

  <!-- ==============================================
      Custom Stylesheet
      =============================================== -->
  <link rel="stylesheet" href="{% static 'css/default.css' %}">

  <!-- ==============================================
      Theme Color
      =============================================== -->
  <meta name="theme-color" content="#21333e">

  <!-- ==============================================
      Theme Settings
      =============================================== -->
  <style>
    :root {
      --hero-bg-color: #080d10;

      --section-1-bg-color: #ffffff;
      --section-2-bg-color: #111117;
      --section-3-bg-color: #111117;
      --section-4-bg-color: #ffffff;
      --section-5-bg-color: #eef4ed;
      --section-6-bg-color: #111117;
      --section-7-bg-color: #ffffff;

      --footer-bg-color: #1d3341;
      --footer-bg-image: url("{% static 'images/bg-.jpg' %}");
    }
  </style>

  {% endblock %}

  {% block corejs %}
  <script src="{% static 'js/vendor/jquery.min.js' %}"></script>
  <script src="{% static 'js/vendor/jquery.easing.min.js' %}"></script>
  <script src="{% static 'js/vendor/jquery.inview.min.js' %}"></script>
  <script src="{% static 'js/vendor/popper.min.js' %}"></script>
  <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/vendor/ponyfill.min.js' %}"></script>
  <script src="{% static 'js/vendor/slider.min.js' %}"></script>
  <script src="{% static 'js/vendor/animation.min.js' %}"></script>
  <script src="{% static 'js/vendor/progress-radial.min.js' %}"></script>
  <script src="{% static 'js/vendor/bricklayer.min.js' %}"></script>
  <script src="{% static 'js/vendor/gallery.min.js' %}"></script>
  <script src="{% static 'js/vendor/shuffle.min.js' %}"></script>
  <script src="{% static 'js/vendor/cookie-notice.min.js' %}"></script>
  <script src="{% static 'js/vendor/particles.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  {% endblock %}


  <title>Assyrian Blog
    Travel&Food</title>
</head>

<body class="home">

  {% include 'includes/main-nav.html'%}

  {% block page_header %}
  {% endblock %}

  {% block content %}
  {% endblock %}




  {% block extra_js %}
  <!-- Scroll [to top] -->
  <div id="scroll-to-top" class="scroll-to-top">
    <a href="#header" class="smooth-anchor">
      <i class="fas fa-arrow-up"></i>
    </a>
  </div>
  {% endblock %}

  {% include 'includes/footer.html'%}
</body>

</html>