{% extends "base.html"%}
{% load static %}


{% block content %}
<!-- Hero -->
<section id="slider" class="hero p-0 odd featured">
  <div class="swiper-container no-slider animation slider-h-50 slider-h-auto">
    <div class="swiper-wrapper">

      <!-- Item 1 -->
      <div class="swiper-slide slide-center">

        <!-- Media -->
        <img src="assets/images/bg-wide.jpg" alt="Full Image" class="full-image" data-mask="80">

        <div class="slide-content row text-center">
          <div class="col-12 mx-auto inner">

            <!-- Content -->
            <nav data-aos="zoom-out-up" data-aos-delay="800" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Blog</li>
              </ol>
            </nav>

            <h1 class="mb-0 title effect-static-text">Blog</h1>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- Blog -->
<section id="blog" class="section-1 single showcase projects">
  <div class="container">
    <div class="row content">

      <!-- Main -->
      <div class="col-12 col-lg-8 p-0 blog-grid">
        <div class="row items">
          {% for post in posts %}
          <div class="col-12 col-md-6 item">
            <div class="row card p-0 text-center">
              <div class="image-over">
                <img src="{{ post.image.url}}" alt="Lorem ipsum">
              </div>
              <div class="card-footer d-lg-flex align-items-center justify-content-center">
                <a href="#" class="d-lg-flex align-items-center"><i class="icon-user"></i>{{post.user}}</a>
                <a href="#" class="d-lg-flex align-items-center"><i
                    class="icon-clock"></i>{{post.publishing_date|date:'Y-m-d'}}</a>
              </div>
              <div class="card-caption col-12 p-0">
                <div class="card-body">
                  <a href="{% url 'blog_detail' pk=post.id%}">
                    <h4>{{post.title}}</h4>
                    <p>{{post.content|truncatechars:50}}</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

        <!-- Pagination -->
        <div class="row">
          <div class="col-12">
            <nav>
              <ul class="pagination justify-content-center">
                <li class="page-item">
                  <a class="page-link" href="#" tabindex="-1">
                    <i class="icon-arrow-left"></i>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">
                    <i class="icon-arrow-right"></i>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>

      <!-- Sidebar-->
      <aside class="col-12 col-lg-4 pl-lg-5 p-0 float-right sidebar">

        <!-- Author -->
        <div class="row item widget-author offers">
          <div class="col-12 align-self-center text-center items">
            <div class="item">
              <div class="card">
                <img src="assets/images/author-1.jpg" alt="Person" class="m-auto person">
                <h4>John Doe</h4>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
                <ul class="mt-3 mx-auto navbar-nav social share-list">
                  <li class="nav-item">
                    <a href="#" class="nav-link"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link"><i class="fab fa-linkedin-in"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Search -->
        <div class="row item widget-search">
          <div class="col-12 align-self-center">
            <h4 class="title">Search</h4>
            <div class="row">
              <div class="col-12 m-0 p-0 input-group">
                <input type="text" class="form-control" placeholder="Enter Keywords">
              </div>
            </div>
            <div class="row">
              <div class="col-12 p-0 input-group align-self-center">
                <button class="btn primary-button">SEARCH</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Services -->
        <div class="row item widget-services">
          <div class="col-12 align-self-center">
            <h4 class="title">Our Services</h4>
            <div class="quote">
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-start align-items-center">
                  <a href="#"><i class="icon icon-organization"></i></a>
                  <div class="list-group-content">
                    <h4>Audit & Assurance</h4>
                    <p>$ 1.290 / mo</p>
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-start align-items-center">
                  <a href="#"><i class="icon icon-briefcase"></i></a>
                  <div class="list-group-content">
                    <h4>Financial Advisory</h4>
                    <p>$ 2.490 / mo</p>
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-start align-items-center">
                  <a href="#"><i class="icon icon-chart"></i></a>
                  <div class="list-group-content">
                    <h4>Analytics<br>and M&A</h4>
                    <p>$ 2.990 / mo</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Categories -->
        <div class="row item widget-categories">
          <div class="col-12 align-self-center">
            <h4 class="title">Categories</h4>
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="#">Technology</a>
                <span class="badge circle">23</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="#">Education</a>
                <span class="badge circle">41</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="#">Industry</a>
                <span class="badge circle">26</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="#">Development</a>
                <span class="badge circle">75</span>
              </li>
            </ul>
          </div>
        </div>

        <!-- Tags -->
        <div class="row item widget-tags">
          <div class="col-12 align-self-center">
            <h4 class="title">Tags</h4>
            <div class="badges">
              <span class="badge"><a href="#">Consulting</a></span>
              <span class="badge"><a href="#">Audit</a></span>
              <span class="badge"><a href="#">Assurance</a></span>
              <span class="badge"><a href="#">Advisory</a></span>
              <span class="badge"><a href="#">Financial</a></span>
              <span class="badge"><a href="#">Capital Markets</a></span>
            </div>
          </div>
        </div>

        <!-- Archive -->
        <div class="row item widget-archive">
          <div class="col-12 align-self-center">
            <h4 class="title">Archive</h4>
            <div class="input-group">
              <i class="icon-arrow-down mr-3"></i>
              <select class="form-control">
                <option>July, 2020</option>
                <option>June, 2020</option>
                <option>April, 2020</option>
                <option>March, 2020</option>
                <option>February, 2020</option>
                <option>January, 2020</option>
              </select>
            </div>
          </div>
        </div>

        <!-- Quote -->
        <div class="row item widget-quote team">
          <div class="col-12 align-self-center">
            <div class="quote">
              <div class="quote-content">
                <h4>Author Message</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <h5>T. Johnson</h5>
              </div>
              <i class="quote-right fas fa-quote-right"></i>
            </div>
          </div>
        </div>

        <!-- Gallery -->
        <div class="row item widget-gallery">
          <div class="col-12 align-self-center">
            <h4 class="title">Gallery</h4>
            <div class="gallery row justify-content-center">
              <a class="col-6 pl-0 item" href="assets/images/project-1.jpg">
                <img src="assets/images/project-1.jpg" alt="Project" class="w-100">
              </a>
              <a class="col-6 pr-0 item" href="assets/images/project-2.jpg">
                <img src="assets/images/project-2.jpg" alt="Project" class="w-100">
              </a>
              <a class="col-6 pl-0 item" href="assets/images/project-3.jpg">
                <img src="assets/images/project-3.jpg" alt="Project" class="w-100">
              </a>
              <a class="col-6 pr-0 item" href="assets/images/project-4.jpg">
                <img src="assets/images/project-4.jpg" alt="Project" class="w-100">
              </a>
              <a class="col-6 pl-0 item" href="assets/images/project-5.jpg">
                <img src="assets/images/project-5.jpg" alt="Project" class="w-100">
              </a>
              <a class="col-6 pr-0 item" href="assets/images/project-6.jpg">
                <img src="assets/images/project-6.jpg" alt="Project" class="w-100">
              </a>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </div>
</section>

<!-- Related -->
<section id="related" class="section-2 carousel showcase">
  <div class="overflow-holder">
    <div class="container">
      <div class="row intro">
        <div class="col-12 col-md-9 align-self-center text-center text-md-left">
          <span class="pre-title m-auto m-md-0">Our editorial content</span>
          <h2>Related <span class="featured"><span>Posts</span></span></h2>
          <p>Every week we publish content about what is best in the business world.</p>
        </div>
        <div class="col-12 col-md-3 align-self-end">
          <a href="#" class="btn mx-auto mr-md-0 ml-md-auto primary-button">SEE ALL</a>
        </div>
      </div>
      <div class="swiper-container mid-slider items" data-perview="3">
        <div class="swiper-wrapper">
          <div class="swiper-slide slide-center item">
            <div class="row card p-0 text-center">
              <div class="image-over">
                <img src="assets/images/news-1.jpg" alt="Lorem ipsum">
              </div>
              <div class="card-footer d-lg-flex align-items-center justify-content-center">
                <a href="#" class="d-lg-flex align-items-center"><i class="icon-user"></i>Andrea Miller</a>
                <a href="#" class="d-lg-flex align-items-center"><i class="icon-clock"></i>2 Days Ago</a>
              </div>
              <div class="card-caption col-12 p-0">
                <div class="card-body">
                  <a href="#">
                    <h4>Increasing creativity is possible for everyone</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide slide-center item">
            <div class="row card p-0 text-center">
              <div class="image-over">
                <img src="assets/images/news-2.jpg" alt="Lorem ipsum">
              </div>
              <div class="card-footer d-lg-flex align-items-center justify-content-center">
                <a href="#" class="d-lg-flex align-items-center"><i class="icon-user"></i>John Smith</a>
                <a href="#" class="d-lg-flex align-items-center"><i class="icon-clock"></i>9 Days Ago</a>
              </div>
              <div class="card-caption col-12 p-0">
                <div class="card-body">
                  <a href="#">
                    <h4>Because market research is part of the business plan</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide slide-center item">
            <div class="row card p-0 text-center">
              <div class="image-over">
                <img src="assets/images/news-3.jpg" alt="Lorem ipsum">
              </div>
              <div class="card-footer d-lg-flex align-items-center justify-content-center">
                <a href="#" class="d-lg-flex align-items-center"><i class="icon-user"></i>Andrea Miller</a>
                <a href="#" class="d-lg-flex align-items-center"><i class="icon-clock"></i>16 Days Ago</a>
              </div>
              <div class="card-caption col-12 p-0">
                <div class="card-body">
                  <a href="#">
                    <h4>Working from home is now a trend</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide slide-center item">
            <div class="row card p-0 text-center">
              <div class="image-over">
                <img src="assets/images/news-4.jpg" alt="Lorem ipsum">
              </div>
              <div class="card-footer d-lg-flex align-items-center justify-content-center">
                <a href="#" class="d-lg-flex align-items-center"><i class="icon-user"></i>John Smith</a>
                <a href="#" class="d-lg-flex align-items-center"><i class="icon-clock"></i>23 Days Ago</a>
              </div>
              <div class="card-caption col-12 p-0">
                <div class="card-body">
                  <a href="#">
                    <h4>Tips for having a good relationship at work</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide slide-center item">
            <div class="row card p-0 text-center">
              <div class="image-over">
                <img src="assets/images/news-5.jpg" alt="Lorem ipsum">
              </div>
              <div class="card-footer d-lg-flex align-items-center justify-content-center">
                <a href="#" class="d-lg-flex align-items-center"><i class="icon-user"></i>David Cooper</a>
                <a href="#" class="d-lg-flex align-items-center"><i class="icon-clock"></i>30 Days Ago</a>
              </div>
              <div class="card-caption col-12 p-0">
                <div class="card-body">
                  <a href="#">
                    <h4>David Cooper tells about the opening of the new office in Baltimore</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide slide-center item">
            <div class="row card p-0 text-center">
              <div class="image-over">
                <img src="assets/images/news-1.jpg" alt="Lorem ipsum">
              </div>
              <div class="card-footer d-lg-flex align-items-center justify-content-center">
                <a href="#" class="d-lg-flex align-items-center"><i class="icon-user"></i>Andrea Miller</a>
                <a href="#" class="d-lg-flex align-items-center"><i class="icon-clock"></i>2 Days Ago</a>
              </div>
              <div class="card-caption col-12 p-0">
                <div class="card-body">
                  <a href="#">
                    <h4>Increasing creativity is possible for everyone</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide slide-center item">
            <div class="row card p-0 text-center">
              <div class="image-over">
                <img src="assets/images/news-2.jpg" alt="Lorem ipsum">
              </div>
              <div class="card-footer d-lg-flex align-items-center justify-content-center">
                <a href="#" class="d-lg-flex align-items-center"><i class="icon-user"></i>John Smith</a>
                <a href="#" class="d-lg-flex align-items-center"><i class="icon-clock"></i>9 Days Ago</a>
              </div>
              <div class="card-caption col-12 p-0">
                <div class="card-body">
                  <a href="#">
                    <h4>Because market research is part of the business plan</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide slide-center item">
            <div class="row card p-0 text-center">
              <div class="image-over">
                <img src="assets/images/news-3.jpg" alt="Lorem ipsum">
              </div>
              <div class="card-footer d-lg-flex align-items-center justify-content-center">
                <a href="#" class="d-lg-flex align-items-center"><i class="icon-user"></i>Andrea Miller</a>
                <a href="#" class="d-lg-flex align-items-center"><i class="icon-clock"></i>16 Days Ago</a>
              </div>
              <div class="card-caption col-12 p-0">
                <div class="card-body">
                  <a href="#">
                    <h4>Working from home is now a trend</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide slide-center item">
            <div class="row card p-0 text-center">
              <div class="image-over">
                <img src="assets/images/news-4.jpg" alt="Lorem ipsum">
              </div>
              <div class="card-footer d-lg-flex align-items-center justify-content-center">
                <a href="#" class="d-lg-flex align-items-center"><i class="icon-user"></i>John Smith</a>
                <a href="#" class="d-lg-flex align-items-center"><i class="icon-clock"></i>23 Days Ago</a>
              </div>
              <div class="card-caption col-12 p-0">
                <div class="card-body">
                  <a href="#">
                    <h4>Tips for having a good relationship at work</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide slide-center item">
            <div class="row card p-0 text-center">
              <div class="image-over">
                <img src="assets/images/news-5.jpg" alt="Lorem ipsum">
              </div>
              <div class="card-footer d-lg-flex align-items-center justify-content-center">
                <a href="#" class="d-lg-flex align-items-center"><i class="icon-user"></i>David Cooper</a>
                <a href="#" class="d-lg-flex align-items-center"><i class="icon-clock"></i>30 Days Ago</a>
              </div>
              <div class="card-caption col-12 p-0">
                <div class="card-body">
                  <a href="#">
                    <h4>David Cooper tells about the opening of the new office in Baltimore</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
>
<!-- Modal [search] -->
<div id="search" class="p-0 modal fade" role="dialog" aria-labelledby="search" aria-hidden="true">
  <div class="modal-dialog modal-dialog-slideout" role="document">
    <div class="modal-content full">
      <div class="modal-header" data-dismiss="modal">
        <i class="icon-close fas fa-arrow-right"></i>
      </div>
      <div class="modal-body">
        <form class="row">
          <div class="col-12 p-0 align-self-center">
            <div class="row">
              <div class="col-12 p-0">
                <h2>What are you looking for?</h2>
                <div class="badges">
                  <span class="badge"><a href="#">Consulting</a></span>
                  <span class="badge"><a href="#">Audit</a></span>
                  <span class="badge"><a href="#">Assurance</a></span>
                  <span class="badge"><a href="#">Advisory</a></span>
                  <span class="badge"><a href="#">Financial</a></span>
                  <span class="badge"><a href="#">Capital Markets</a></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 p-0 input-group">
                <input type="text" class="form-control" placeholder="Enter Keywords">
              </div>
            </div>
            <div class="row">
              <div class="col-12 p-0 input-group align-self-center">
                <button class="btn primary-button">SEARCH</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal [sign] -->
<div id="sign" class="p-0 modal fade" role="dialog" aria-labelledby="sign" aria-hidden="true">
  <div class="modal-dialog modal-dialog-slideout" role="document">
    <div class="modal-content full">
      <div class="modal-header" data-dismiss="modal">
        <i class="icon-close fas fa-arrow-right"></i>
      </div>
      <div class="modal-body">
        <form action="/" class="row">
          <div class="col-12 p-0 align-self-center">
            <div class="row">
              <div class="col-12 p-0 pb-3">
                <h2>Sign In</h2>
                <p>Don't have an account? <a href="#" class="primary-color" data-toggle="modal"
                    data-target="#register">Register now</a>.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12 p-0 input-group">
                <input type="email" class="form-control" placeholder="Email" required>
              </div>
              <div class="col-12 p-0 input-group">
                <input type="password" class="form-control" placeholder="Password" required>
              </div>
            </div>
            <div class="row">
              <div class="col-12 p-0 input-group align-self-center">
                <button class="btn primary-button">SIGN IN</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal [register] -->
<div id="register" class="p-0 modal fade" role="dialog" aria-labelledby="register" aria-hidden="true">
  <div class="modal-dialog modal-dialog-slideout" role="document">
    <div class="modal-content full">
      <div class="modal-header" data-dismiss="modal">
        <i class="icon-close fas fa-arrow-right"></i>
      </div>
      <div class="modal-body">
        <form action="/" class="row">
          <div class="col-12 p-0 align-self-center">
            <div class="row">
              <div class="col-12 p-0 pb-3">
                <h2>Register</h2>
                <p>Have an account? <a href="#" class="primary-color" data-toggle="modal" data-target="#sign">Sign
                    In</a>.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12 p-0 input-group">
                <input type="text" class="form-control" placeholder="Name" required>
              </div>
              <div class="col-12 p-0 input-group">
                <input type="email" class="form-control" placeholder="Email" required>
              </div>
              <div class="col-12 p-0 input-group">
                <input type="password" class="form-control" placeholder="Password" required>
              </div>
              <div class="col-12 p-0 input-group">
                <input type="password" class="form-control" placeholder="Confirm Password" required>
              </div>
            </div>
            <div class="row">
              <div class="col-12 p-0 input-group align-self-center">
                <button class="btn primary-button">REGISTER</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Modal [responsive menu] -->
<div id="menu" class="p-0 modal fade" role="dialog" aria-labelledby="menu" aria-hidden="true">
  <div class="modal-dialog modal-dialog-slideout" role="document">
    <div class="modal-content full">
      <div class="modal-header" data-dismiss="modal">
        <i class="icon-close fas fa-arrow-right"></i>
      </div>
      <div class="menu modal-body">
        <div class="row w-100">
          <div class="items p-0 col-12 text-center">
            <!-- Append [navbar] -->
          </div>
          <div class="contacts p-0 col-12 text-center">
            <!-- Append [navbar] -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Scroll [to top] -->
<div id="scroll-to-top" class="scroll-to-top">
  <a href="#header" class="smooth-anchor">
    <i class="fas fa-arrow-up"></i>
  </a>
</div>
{% endblock %}